

.open-sans-simple{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
 "wdth" 100;
}



/* header style */

nav ul li{
 list-style:none;
}

nav li a{
 text-decoration: none;
  
 }

.logo-text{
 font-size:70px;
 color: #4E47FF;
 font-weight: 600;
}

li button{
 background-color:#4E47FF;
 color: white;
 border-radius:5px;
 cursor: pointer;
 border: none;
 padding: 15px 40px;
}
 
 


button:hover{
 background-color:black;
}

nav ul{
 justify-content:center;
 margin:0 auto;
 display: flex;
 gap:50%;
}
 
/* headersec1 */

button{
 color: white;
 background-color:#4E47FF;
 border-radius:5px;
 cursor: pointer;
 border: none;
 padding: 20px 20px;
}

.header-sec1{
 display:block;
 text-align: center;
 margin:267px 309px;
 
}

.text{
 color: #252432;
 font-size:40px;
}

header{
  background-image:url(/Assets/Hero-bg.png);
  width: auto;
  background-size:360px 309px;
  margin: 0 auto;
}


/* footer */

ul li{
  list-style:none;

}

ul li a{
  display:flex;
  text-decoration: none;
  color:rgb(152, 139, 139);

}

.div-foot{
  margin: 0px 700px;
  text-align: center;
  justify-content: center;
}

div ul{
  margin-right:10px;
  display: flex;
  gap:100px;
  justify-content:space-between;
  width:513px;
  height: 48px;
  width:400px;
}

.ft{
  gap:50px;
}
.logo{
  font-size:100px;
  font-weight:bold;
  color: #4E47FF;
  padding:20px;
}

 


 
  


  
 






 


